.food-diary.header {
  margin: 20px 0;
  padding: 3px 0 17px 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 3px solid #e6e6e6;
}

.food-diary.header h1 {
  color: #0b5680;
}

.food-diary.header time {
  color: white;
  background: #00548f;
  padding: 9px 35px;
  margin: 0 1px;
  width: 230px;
  text-align: center;
  display: inline-block;
}

.prev-diary, .next-diary {
  color: white;
  background: #00548f;
  padding: 9.5px 7px;
}

.prev-diary {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-left: 5px;
}

.next-diary {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.food-diary-container {
  width: 600px;
  margin: 0 auto;
}

.meal-category {
  max-width: 350px;
  font-size: 18px;
}

.meal-category .first {
  color: #00548f;
}

.first.diary {
  text-align: left;
  padding: 4px 10px;
}

.first.diary-item {
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid white;
  cursor: pointer;
}

.diary.category.first {
  padding: 15px 0 10px 0;
  font-weight: bold;
}

.diary-row {
  max-width: 40px;
  font-size: 12px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid white;
}

.macro-header {
  background-color: #00548f;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  vertical-align: middle;
  width: 60px;
}

th > span {
  opacity: 0.7;
  color: white;
}

.diary-item {
  font-size: 12px;
  padding: 4px 10px;
  background-color: #f6f6f6;
  vertical-align: middle;
}

.diary-item.subtotal {
  background-color: white;
}

.diary-table {
  margin-left: 5px;
  border-collapse: collapse;
}

.add-food {
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid white;
  background-color: white;
  color: #0072bf;
  font-weight: bold;
  width: 200px;
}

.diary-row.subtotal {
  color: #0072bf;
  font-weight: bold;
}

.diary-totals > td.diary-row {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0;
  background-color: #f6f6f6;
}

.total-category {
  text-align: right;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 10px;
}

.empty-row {
  height: 8px;
  padding: 4px 10px;
}

.delete-entry {
  width: 14px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  margin-left: -250px;
  border: 5px solid #e3e3e3;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: -5px;
  left: 260px;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  color: #777;
}

.add-form.modal {
  height: 200px;
  padding-bottom: 20px;
}

.add-form.edit {
  background-color: white;
}
