.food-diary.header {
  margin: 20px 0;
  padding: 3px 0 7px 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 3px solid #e6e6e6;
}

.food-diary.header h1 {
  color: #0b5680;
}

.food-diary.header time {
  color: white;
  background: #00548f;
  padding: 9px 35px;
  margin-left: 5px;
}

.food-diary-container {
  width: 600px;
  margin: 0 auto;
}

.meal-category {
  max-width: 350px;
  font-size: 18px;
}

.meal-category .first {
  color: #00548f;
}

.first.diary {
  text-align: left;
  padding: 4px 10px;
}

.first.diary-item {
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid white;
}

.diary.category.first {
  padding: 15px 0 10px 0;
  font-weight: bold;
}

.diary-row {
  width: 40px;
  font-size: 12px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid white;
}

.macro-header {
  background-color: #00548f;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  vertical-align: middle;
}

th > span {
  opacity: 0.7;
  color: white;
}

.diary-item {
  font-size: 12px;
  padding: 4px 10px;
  background-color: #f6f6f6;
}

.diary-item.subtotal {
  background-color: white;
}

.diary-table {
  margin-left: 5px;
  border-collapse: collapse;
}

.add-food {
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid white;
  background-color: white;
  color: #0072bf;
  font-weight: bold;
}

.diary-row.subtotal {
  color: #0072bf;
  font-weight: bold;
}

.diary-totals > td.diary-row {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0;
  background-color: #f6f6f6;
}

.total-category {
  text-align: right;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 10px;
}

.empty-row {
  height: 8px;
  padding: 4px 10px;
}
