header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0072BC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0 50px;
  border-bottom: 1px solid #0072BC;
}

.header-links {
  list-style: none;
  display: flex;
}

.header-links li {
  padding: 0 10px;
  font-size: 14px;
}
