header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0072BC;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  padding: 10px 47.5px 0 47.5px;
  border-bottom: 1px solid #0072BC;
  font-weight: bold;
}

header h1 {
  font-size: 24px;
}

header p {
  font-size: 22px;
  font-weight: normal;
}

.header-links {
  list-style: none;
  display: flex;
}

.header-links li {
  padding: 0 10px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #0072BC;
}
