header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0072BC;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  padding: 12.5px 47.5px 12.5px 47.5px;
  border-bottom: 1px solid #0072BC;
  font-weight: bold;
}

header h1 {
  font-size: 24px;
}

header p {
  font-size: 22px;
  font-weight: normal;
}

.header-links {
  list-style: none;
  display: flex;
}

.header-links li {
  padding: 0 10px;
  font-size: 14px;
}

a, .logout-button, .tour-button {
  text-decoration: none;
  color: #0072BC;
}
.login-link {
  border-right: 1px solid #e6e6e6;
}

.tour-button, .logout-button {
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  -webkit-appearance: none;
  cursor: pointer;
}
