.signup-container {
  width: 599px;
  height: 306px;
  margin: 0 auto;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  margin-top: 70px;
  padding: 10px 70px 30px 40px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px #444444;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-container.part2 {
  height: 500px;
}

.signup-container h2 {
  font-size: 18px;
  color: #0a5282;
  margin-top: 18px;
  font-weight: bold;
}

.signup-form {
  margin-top: 20px;
  padding-left: 20px;
  position: relative;
}

label, input {
  display: inline-block;
}

label, span {
  width: 90px;
  text-align: right;
  font-size: 12px;
  color: #777;
}

label {
  margin-right: 2px;
}

span {
  margin-left: 2px;
}

input {
  width: 200px;
  padding: 5px;
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}

input.button {
  width: 66.5px;
  background-color: #51a351;
  border: 1px solid #408140;
  font-size: 13px;
  border-radius: 5px;
  padding: 8px 25px;
  cursor: pointer;
  color: white;
  box-sizing: content-box;
  margin: 20px 0;
  margin-left: 90px;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.26,#62c462),color-stop(0.75,#51a351))
}


.input-fields {
  list-style: none;
}

.field {
  margin: 5px 0;
}

.goal-field, .activity-field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.part2 label {
  color: #343434;
  font-weight: bold;
  width: 100px;
}

.part2 input {
  width: 50px;
}

label.radio, input.radio {
  width: auto;
}

label.gender {
  padding: 6px 6px 0 0;
  font-weight: normal;
}

label.activity, label.goal, label.gender {
  width: auto;
  text-align: left;
  display: inline-block;
}

label.activity {
  padding-bottom: 5px;
  padding-left: 5px;
}

label.field-header {
  padding-left: 0px;
  margin-bottom: 5px;
}

.activity-choices {
  list-style: none;
}

.login-redirect {
  height: 15px;
  width: 550px;
  background-color: white;
  margin-top: 20px;
  padding: 15px 20px 15px 40px;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #e6e6e6;
}

select {
  width: 360px;
}

.signup.button {
  margin-left: 0px;
  width: auto;
}

.notbold {
  color: #343434;
  font-weight: normal;
}

input.username {
  width: 200px;
}
